dit:
  checkpoint_path: kandinsky5/weights/model/kandinsky5lite_t2v_sft_5s.safetensors
  dit_params:
    in_visual_dim: 16
    out_visual_dim: 16
    in_text_dim: 3584
    in_text_dim2: 768
    time_dim: 512
    patch_size:
      - 1
      - 2
      - 2
    model_dim: 1792
    ff_dim: 7168
    num_text_blocks: 2
    num_visual_blocks: 32
    axes_dims:
      - 16
      - 24
      - 24
    visual_cond: true
  attention:
    type: flash
    causal: false
    local: false
    glob: false
    chunk: false
    window: 3